* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    font-size: 100%;
    color: whitesmoke;
  }
  
  input, select, option, optgroup, textarea, button,
  pre, code {
    font-size: 100%;
    font-family: inherit;
  }
  
  ol, ul {
    list-style: none;
  }

  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(../../public/images/401-trail.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 60px;
    padding-inline: 25px;
  };

  @media (max-width: 768px) {
    .hero-image {
      padding-top: 160px;
    }
  }
